# Python / виртуальные окружения
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt

# Тесты и кэш
.pytest_cache/
tests/
.coverage
coverage.xml
htmlcov/

# Базы данных и временные файлы
*.db
*.sqlite3
*.sqlite

# Логи и временные файлы
*.log
*.tmp

# IDE / редакторы
.vscode/
.idea/
*.swp
*.swo

# macOS / Windows мусор
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Документация и ненужное
README.md
LICENSE
docs/